{% load staticfiles %}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static 'images/s2-logo.png' %}" height="40" alt="" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
           <li><a href="{% url 'post_new' %}" class="btn btn-dark-orange">New Post</a></li>
            <li><a href="{% url 'post_draft_list' %}" class="btn btn-dark-orange">Edit Post</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}" class="btn btn-dark-orange">Sign Up</a></li>
            <li><a href="{% url 'login' %}" class="btn btn-dark-orange">Sign In</a></li>
            {% endif %}

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container -->
        </nav>
      </header>
      <div class="page-header">
        <div class="container">
          <div class="row">
          {% if user.is_authenticated %}
              <p class="welcome">Welcome {{ user.username }} - <a href="{% url 'logout' %}" class="btn btn-sm btn-default">Sign Out</a></p>
          {% endif %}
          <h1><a href="/">Django Blog</a></h1>
        </div>
        </div>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    </body>
</html>
